body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(#080016, rgb(26, 100, 175));
}

.container {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

#noButton {
  position: absolute;
  margin-left: 200px;
  transition: 0.5s;
  margin-top: 30px;
}

#yesButton {
  position: absolute;
  margin-right: 200px;
  margin-top: 30px;
}

.header_text {
  font-family: "Nunito";
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ffffff;
}

.text {
  font-family: "Nunito";
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  padding: 25px 25px;
}

.btn {
  background-color: #000000;
  color: rgb(255, 248, 248);
  font-weight: 700;
  padding: 20px 25px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 25px 3px;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  box-shadow: 0 3px 3px rgb(7, 225, 233);
}

.btn:hover {
  background-color: #14e4e4;
  color: #000000;
}

.gif_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gif_container img {
  width: 35vh;
  height: 35vh;
}

p {
  color: rgb(255, 254, 254);
  margin-left: 50%;
}

p a {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  opacity: 0.25;
}
